/* Définition des couleurs */
*
{
    --bleu-longhorn: #0055e5;
    --gris-longhorn: #f0f0e8;
    --msn-bulle-connecte: #63b93f;
    --msn-bille-connecte-2: #7db9d4;

    --padding-interne: 15px;
    --rayon-de-bordure-interne-photo-de-profil: 15px;
    --rayon-de-bordure-externe-photo-de-profil: 30px;
}

body
{
    background-image: url(resources/wallpaper.jpg);

    width: 100%;
    height: 100%;
}

.fenetre
{
    border-color: var(--bleu-longhorn);
    border-style: solid;
    border-width: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
    background-color: var(--gris-longhorn);

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;

    padding-left: 0px;
    padding-right: 0px;
}

.fenetre header
{
    background-color: var(--bleu-longhorn);

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 50px;

    padding-right: var(--padding-interne);
}

.fenetre header img
{
    height: 100%;
}

.fenetre main
{
    display: flex;
    flex-direction: row;

    padding-left: var(--padding-interne);
    padding-right: var(--padding-interne);
}

.fenetre main .bandeau-gauche
{
    width: 25%;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fenetre main .bandeau-gauche .photo-de-profil
{
    background-image: linear-gradient(to top, var(--msn-bulle-connecte), var(--msn-bille-connecte-2));

    border-top-left-radius: var(--rayon-de-bordure-externe-photo-de-profil);
    border-top-right-radius: var(--rayon-de-bordure-externe-photo-de-profil);
    border-bottom-left-radius: var(--rayon-de-bordure-externe-photo-de-profil);
    border-bottom-right-radius: var(--rayon-de-bordure-externe-photo-de-profil);
}

.fenetre main .bandeau-gauche .photo-de-profil img
{
    width: 100%;

    display: block;
    scale: 97%;

    border-top-left-radius: var(--rayon-de-bordure-interne-photo-de-profil);
    border-top-right-radius: var(--rayon-de-bordure-interne-photo-de-profil);
    border-bottom-left-radius: var(--rayon-de-bordure-interne-photo-de-profil);
    border-bottom-right-radius: var(--rayon-de-bordure-interne-photo-de-profil);
}

.fenetre main .milieu
{
    width: 75%;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
