/* Définition des couleurs */
*
{
    --bleu-longhorn: #0055e5;
}

body
{
    background-image: url(resources/wallpaper.jpg);
}

.barre-de-titre
{
    background-color: var(--bleu-longhorn);

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 50px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    margin-left: 15%;
    margin-right: 15%;

    padding-left: 10px;
    padding-right: 10px;
}

.barre-de-titre img
{
    height: 100%;
}