/* Définition des couleurs */
*
{
    --fond: #008081;
    --fond-fenetre: #d4d0c8;
    --bouton: #d4d0c8;
    --texte-bouton: #000000;
    --ombre-bouton: #808080;
    --ombre-sombre-bouton: #404040;
    --lumiere-bouton: #ffffff;
    --surlignement-bouton: #ffffff;
    --msn-bulle-connecte: #63b93f;
    --msn-bille-connecte-2: #7db9d4;

    --padding-interne: 15px;
    --rayon-de-bordure-interne-photo-de-profil: 15px;
    --rayon-de-bordure-externe-photo-de-profil: 30px;
}

body
{
    background-color: var(--fond);

    width: 100%;
    height: 100%;
}

.fenetre
{
    box-shadow:inset -1px -1px 0px 0px #404040, inset 1px 1px 0px 0px #eceae7, inset -2px -2px 0px 0px #808080, inset 2px 2px 0px 0px #ffffff;

    background-color: var(--fond-fenetre);

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.fenetre header
{
    /* Dégradé de la barre de titre */
    background: #0a246a;
    background: -moz-linear-gradient(left, #0a246a 0%, #a6caf0 100%, #a6caf0 101%);
    background: -webkit-linear-gradient(left, #0a246a 0%, #a6caf0 100%, #a6caf0 101%);
    background: linear-gradient(to right, #0a246a 0%, #a6caf0 100%, #a6caf0 101%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@ActiveTitle', endColorstr='@GradientActiveTitle', GradientType=1);
    /* Fin */

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 30px;

    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.fenetre header img
{
    height: 100%;
}

.fenetre header h1
{
    color: #ffffff;
    
    font: normal bold small Tahoma, Geneva, sans-serif;
}

.fenetre header .boutons
{
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-left: auto;

    padding-right: 5px;
}

.fenetre header .boutons *
{
    background-color: var(--bouton);
    color: var(--text-boutons);

    box-shadow: -0.5px -0.5px 0px 0.5px var(--lumiere-bouton), 0px 0px 0px 1px var(--ombre-bouton), -0.5px -0.5px 0px 1.5px var(--lumiere-bouton), 0px 0px 0px 2px var(--ombre-sombre-bouton);
}

.fenetre header .boutons * svg
{
    display: block;

    height: 100%;
    width: auto;
}

.fenetre main
{
    display: flex;
    flex-direction: row;

    font-family: Tahoma, Geneva, sans-serif;

    padding-left: var(--padding-interne);
    padding-right: var(--padding-interne);
}

.fenetre main .bandeau-gauche
{
    width: 25%;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fenetre main .bandeau-gauche .photo-de-profil
{
    background-image: linear-gradient(to top, var(--msn-bulle-connecte), var(--msn-bille-connecte-2));

    border-top-left-radius: var(--rayon-de-bordure-externe-photo-de-profil);
    border-top-right-radius: var(--rayon-de-bordure-externe-photo-de-profil);
    border-bottom-left-radius: var(--rayon-de-bordure-externe-photo-de-profil);
    border-bottom-right-radius: var(--rayon-de-bordure-externe-photo-de-profil);
}

.fenetre main .bandeau-gauche .photo-de-profil img
{
    width: 100%;

    display: block;
    scale: 97%;

    border-top-left-radius: var(--rayon-de-bordure-interne-photo-de-profil);
    border-top-right-radius: var(--rayon-de-bordure-interne-photo-de-profil);
    border-bottom-left-radius: var(--rayon-de-bordure-interne-photo-de-profil);
    border-bottom-right-radius: var(--rayon-de-bordure-interne-photo-de-profil);
}

.fenetre main .milieu
{
    width: 75%;

    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
